<div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  <h2>User info</h2>
    <%= form_with model:@user, local:true do |f| %>
      <div class="form-group">
        <label for="user_name">Name</label>
        <%= f.text_field :name, autofocus: true, id:"user_name", placeholder:"名前", class: "form-control user_name" %>
      </div>
      <div class="form-group">
        <label for="user_profile_image">Image</label>
        <%= f.attachment_field :profile_image, autofocus: true, id:"user_profile_image", placeholder:"プロフィール画像", class: "form-control-file user_profile_image" %>
      </div>
      <div class="form-group">
        <label for="user_introduction">Introduction</label>
        <%= f.text_area :introduction, autofocus: true, id:"user_introduction", placeholder:"自己紹介文", class: "form-control user_introduction" %>
      </div>

      <div class="form-group">
        <%= f.submit 'Update User', class: "btn btn-secondary" %>
      </div>
    <% end %>
</div